spring:

  datasource:
    url: jdbc:postgresql://localhost:5432/blogdb
    username: postgres
    password: 12345
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

  data:
    mongodb:
      uri: mongodb://localhost:27017/blogdb
      database: blogdb


jwt:

  secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970

  expiration-ms: 86400000


springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs

server:
  port: 8084